<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.testvictorinox.coti" versionCode="01" version="1.1.0">
	<name>Cotizador_Victorinox_FINAL</name>
	<description>Cotizador Victorinox</description>
	<author email="pepes17@hotmail.com">Sergio Serrano</author>
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="webos" />
	<gap:platform name="symbian" />
	<gap:platform name="blackberry" />
	<gap:platform name="winphone" />
	
	<icon gap:platform="ios" height="57" src="css/images/emoticones_excelente.png" width="57" />
	
	

	
	
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="de.appplant.cordova.plugin.email-composer" />
	<gap:plugin name="org.devgeeks.canvas2imageplugin" />
	<gap:plugin name="de.appplant.cordova.plugin.printer" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	<gap:plugin name="io.github.pwlin.cordova.plugins.fileopener2" />

	
	<preference name="phonegap-version" value="3.0.0" />
	<access origin="*" subdomains="true" />
</widget>